body {
  color: #eee;
  padding: 0;
  margin: 0;
  background: #222 url('../images/bg.png');
}

*{
  box-sizing: border-box;
  outline: none;
}

#app {
  height: 500px;
  background-size: 40%;
}

header {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #ddd;
  margin-top: -.95em;
}

.fight_area {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-top: 10vh;
  align-items: flex-end;
  height: 530px;
  margin: auto;
}

.health_bar {
  height: 40px;
  width: 45%;
  border: 2px solid #ddd;
  background: linear-gradient(to bottom, #ff0000 0%,#c62323 100%);
}

.health_bar .inner_health {
  background: linear-gradient(to bottom, #2f3fed 0%,#2c24c9 100%);
  width: 80%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  white-space: nowrap;
  align-items: center;
  transition: all .8s ease-in-out;
}

.health_bar:last-child  {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.health_bar:last-child .inner_health {
  flex-direction: row-reverse;
}

.health_bar .inner_health span {
  padding: 0 .5em;
}

.left_fighter {
  transition: all 1s ease-in-out;
}

.left_fighter img {
  height: 350px;
}

.left_fighter .slide {
  position: relative;
  left: 5em;
}

.right_fighter img {
  transform: scale(-1, 1);
  height: 340px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.buttons button {
  border: none;
  border: 2px solid #111;
  background: none;
  padding: .75em 1.25em;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: .1em .1em .2em #000;
  color: #aaa;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-left: 1em;
}

.buttons button:hover {
  box-shadow: 0 0 .25em #000;
  color: #cccccc;
  background: #222;
}

.alert {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #111;
  opacity: .6;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  color: #fff;
  text-shadow: .2em .2em .2em #000;
}

img.scorpion_arms_attak {
  height: 400px;
  position: relative;
  bottom: -2em;
}

img.arm_attak {
  left: -3em;
  bottom: -1em;
  height: 370px;
  position: relative;
  transition: all .5s ease-in-out;
}

.alert.blood {
   background: none;
}

img.blood {
  width: 200px;
  top: 20%;
  left: 35%;
  position: absolute
}

img.scorpion_win {
  height: 415px;
  margin-bottom: -1.5em;
}